@model Product
@{
    bool hasModelLevelErrors = ViewData.ModelState[string.Empty]?.Errors.Count > 0;
}
<form asp-area="Admin" asp-action="UpdateProduct" method="post">
    <div class="p-3 mt-4 border-black">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Product</h2>
            <hr />
        </div>
        @if (hasModelLevelErrors)
        {
            <div class="alert alert-danger" role="alert">
                <div asp-validation-summary="ModelOnly"></div>
                <!-- asp-validation-summary=All , both the field level errors and the model leve;errors -->
                <!-- asp-validation-summary=ModelOnly , Only model level errors -->
                <!-- asp-validation-summary=None , Nothing will be visible -->
            </div>
        }
        <input type="hidden" asp-for="Id" />
        <div class="mb-3 row">
            <label asp-for="Title" class="p-0"></label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Description" class="p-0"></label>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="ISBN" class="p-0"></label>
            <input type="text" asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Author" class="p-0"></label>
            <input type="text" asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="ListPrice" class="p-0"></label>
            <input type="number" asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price" class="p-0"></label>
            <input type="number" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price50" class="p-0"></label>
            <input type="number" asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price100" class="p-0"></label>
            <input type="number" asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">
                    Back to Product List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}